<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

    <div class="field form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, class: "form-control" %>
    </div>
    
    <div class="field custom-file form-group">
      <%= f.label :image, class: "custom-file-label" %>
      <%= f.file_field :image, class: "custom-file-input"%>
    </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group">
    <%= f.label :password %> <i>(dejar en blanco si no quiere actualizar)</i><br />
    <%= f.password_field :password, autocomplete: "Nueva Clave", class: "form-control" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "Nueva clave", class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :current_password %> <i>(Ingrese su clave actual para guardar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "Clave actual", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar", :class => "btn btn-success" %>
  </div>
<% end %>

<h3>Cancelar mi cuenta</h3>

<p><%= button_to "Cancela", registration_path(resource_name), data: { confirm: "Está seguro?" }, method: :delete, class: "btn btn-warning" %></p>

<%= link_to "Volver", :back, :class => "btn btn-primary"  %>
