<p id="notice"><%= notice %></p>
<% if @pin.images.attached? %>
<%= image_tag @pin.images[0].variant(resize:'500x500^', extent:'500x500', gravity:'Center') %>
<% end %>
<p>
  <strong>Titulo:</strong>
  <%= @pin.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @pin.descripcion %>
</p>
<% if can? :update, @pin %>
  <%= link_to 'Editar', edit_pin_path(@pin), :class =>"btn btn-warning" %> 
<% end %>
<%= link_to 'Volver', pins_path,  :class =>"btn btn-success"%>
