<p id="notice"><%= notice %></p>

<p><%= image_tag @pin.images[0], class: "" %></p>
<p>
  <strong>Titulo:</strong>
  <%= @pin.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @pin.descripcion %>
</p>
<% if can? :update, @pin %>
  <%= link_to 'Editar', edit_pin_path(@pin), :class =>"btn btn-warning" %> 
<% end %>
<%= link_to 'Volver', pins_path,  :class =>"btn btn-success"%>
